<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="http://schema.org/Article">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="author" content="{{ site.title }}" />
    <meta name="description" content="{{ page.excerpt | strip_html }}&hellip;" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google -->
    <meta itemprop="name" content="{{ page.title }} - {{ site.title }}">
    <meta itemprop="description" content="{{ page.excerpt | strip_html }}&hellip;">
    <!-- <meta itemprop="image" content="http://www.example.com/image.jpg"> -->
    <!-- Facebook -->
    <meta property="og:title" content="{{ page.title }} - {{ site.title }}"> 
    <meta property="og:description" content="{{ page.excerpt | strip_html }}&hellip;"> 
    <meta property="og:type" content="article">
    {% if page %}
        <meta property="og:url" content="{{ site.production_url }}{{ page.url }}">
    {% else %}
        <meta property="og:url" content="{{ site.production_url }}">
    {% endif %}
    <!-- <meta property="og:image" content="http://www.your-site.com/image.jpg"> -->
    <meta property="og:site_name" content="{{ page.title }} - {{ site.title }}&hellip;">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    {% if page %}
        <meta property="twitter:url" content="{{ site.production_url }}{{ page.url }}">
    {% else %}
        <meta property="twitter:url" content="{{ site.production_url }}">
    {% endif %}
    <meta name="twitter:title" content="{{ page.title }} - {{ site.title }}">
    <meta name="twitter:description" content="{{ page.excerpt | strip_html }}&hellip;">
    <!-- <meta name="twitter:image" content="http://example.com/image.jpg"> -->

    <link href="/assets/img/sugar_logo.png" rel="shortcut icon">
    <link href="{{ site.production_url }}/" rel="canonical" />
    <link rel="alternate" type="application/rss+xml" href="{{ site.production_url }}/feed/atom.xml" title="RSS feed">

    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/assets/img/sugar_logo.png"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li class="active"><a href="/getting-started/">Getting Started</a></li>
            <li class="active"><a href="/docs/">Documentation</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="https://github.com/sugar-framework/sugar">Find us on GitHub</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    {{ content }}

    <div id="f">
      <div class="container">
        <div class="row">
          <p class="pull-left">Sugar is released under the <a href="https://github.com/sugar-framework/sugar/blob/master/LICENSE">MIT License</a>.</p>
          <p class="pull-right">Theme based on <a href="http://www.blacktie.co/2013/11/bolt-flat-one-page-theme/">Bolt by BlackTie.co.</a></p>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% include analytics.html %}
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
