---
layout: default
---

<div id="docs">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 affix">
        <h2><a href="/">Sugar</a></h2>
        <ul class="nav">
          <li>
            <a href="/getting-started/">Getting Started</a>
            <ul class="nav">
              <li><a href="/getting-started/#create-a-mix-project">Create a Mix project</a></li>
              <li><a href="/getting-started/#add-in-sugar">Add in Sugar</a></li>
              <li><a href="/getting-started/#configure-your-router">Configure Your Router</a></li>
              <li><a href="/getting-started/#add-a-controller">Add a Controller</a></li>
              <!-- <li><a href="/getting-started/#add-a-view">Add a View</a></li> -->
            </ul>
          </li>
          <li>
            <a href="/docs/">Documentation</a>
            <ul class="nav">
              <li><a href="/docs/routing/">Routing</a></li>
              <li><a href="/docs/controllers/">Controllers</a></li>
              <!-- <li><a href="/docs/models/">Models</a></li>
              <li><a href="/docs/views/">Views</a></li> -->
              <li>
                <a href="/docs/api/">API (ExDoc)</a>
                <ul class="nav">
                  <li><a href="/docs/api/sugar/">Sugar</a></li>
                  <li><a href="/docs/api/plugs/">Plugs</a></li>
                  <li><a href="/docs/api/templates/">Templates</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="col-lg-8 content">
        {{ content }}
      </div>
    </div>
  </div>
</div>